<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blogstyle.css">
    <title>All Blogs</title>
</head>

<body>
    <header class="site-header">
        <div class="header-logo">
            <h1>SPR1NG B1OG</h1>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/blogs">BLOG LIST</a></li>
                <li><a href="/blogs/new">ADD BLOG</a></li>
            </ul>
        </nav>
    </header>
    <div class="bloglist" th:if="${!#lists.isEmpty(blogList)}">
        <ul>
            <li th:each="blog : ${blogList}" class="blog list">
                <h3>
                    <a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.title}">タイトル</a>
                </h3>

                <p th:text="${#strings.abbreviate(blog.body, 40)}">本文</p>
                <p th:text="${blog.name}">作成者</p>
            </li>
        </ul>
    </div>
    <div class="empty-message" th:if="${#lists.isEmpty(blogList)}">
        投稿はありません
    </div>
</body>

</html>