<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blogstyle.css">
    <title>All Blogs</title>
</head>

<body>
    <header class="site-header">
        <div class="header-logo">
            <h1>Spring Blogs</h1>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/">ブログ一覧</a></li>
                <li><a href="/">ブログ追加</a></li>
            </ul>
        </nav>
    </header>



</body>

</html>