<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blogstyle.css">
    <title>Spring Blog HOME</title>
</head>

<body>
    
    <div class="home-logo">
            <h1 class="h-sp">SPR1NG</h1><br>
            <h1 class="h-bl">  B1OG</h1>
        </div>
        <nav class="home-nav">
            <ul>
                <li><h3>
                    <a href="/blogs">BLOG LIST</a></li>
                </h3>
                <li><h3>
                    <a href="/blogs/new">ADD BLOG</a></li>
                </h3>
            </ul>
        </nav>

</body>

</html>