<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blogstyle.css">
    <title>All Blogs</title>
</head>
<body>
    <header class="site-header">
        <div class="header-logo">
            <h1>Spring Blogs</h1>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="/blogs">HOME</a></li>
                <li><a href="/blogs">BLOG LIST</a></li>
                <li><a href="/blogs/new">ADD BLOG</a></li>
            </ul>
        </nav>
    </header>

    <div class="blogdetail" >
        
            <div class="detail">
                <h3 th:text="${blogdetail.title}">タイトル</h3>
                <p th:text="${blogdetail.body}">本文</p>
            </div>
        
    </div>
    <!-- <div class="empty-message" th:if="${#lists.isEmpty(blogList)}">
        投稿はありません
    </div> -->
</body>
</html>