<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blogstyle.css">
    <title>All Blogs</title>
</head>
<body>
    <header class="site-header">
        <div class="header-logo">
            <h1>Spring Blogs</h1>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="/blogs">HOME</a></li>
                <li><a href="/blogs">BLOG LIST</a></li>
                <li><a href="/blogs/new">ADD BLOG</a></li>
            </ul>
        </nav>
    </header>

    <form th:action="@{/blogs}" th:object="${blogsForm}" method="post">
        <div class="form-group">
            <input type="text" id="title" th:field="*{title}" placeholder="ブログタイトル">
        </div>
         <div class="form-group">
            <input type="text" id="name" th:field="*{name}" placeholder="作成者名"></input>
        </div>
        <div class="form-group">
            <textarea type="text" id="body" th:field="*{body}" placeholder="ブログ本文"></textarea>
        </div>

        <div class="button-group">
            <button type="submit" class="submit-btn">保存</button>
            <a href="/blogs" class="cancel-btn">キャンセル</a>
        </div>
    </form>
</body>
</html>